@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap');

.logo{
  width: 35px;
}
header{
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: black;
  width: 100vw;
}
.headerH1{
  color: rgb(167, 76, 167);
  font-family: 'Lora', serif;
  text-shadow: 1px 1px 8px rgb(116, 98, 98);
}
.log{
  display: flex;
  gap: 10px;
}


.logoBarber{
  width: 100px;
}

.containerHome{
  background-image: url("./img/fotoBackgroud.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 99vw;
  height: 86vh;
  background-color: black;
}

.containerAgenda{
  background-image: url("./img/fotoBackgroud.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 84vh;
  background-color: black;
}

.logoHome{
  display: block;
  position: relative;
  top: 10vh;
  left: 37%;
  width: 50vw;
}

.logss{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mainh3{
  color: white;
  text-align: center;
  font-size: 28px;
  width: 350px;
  font-family: 'Lora', serif;
  text-shadow: 1px 1px 10px  rgb(211, 7, 211);
  box-shadow: 1px 5px 10px black;
}

.logoHomes{
  display: flex;
  align-items: center;
  flex-direction: column;
  
}

.foto{
  filter: saturate(280%); 
  filter: contrast(150%);
  width: 480px;
  filter:drop-shadow(40px 1px 18px #000000);
}

.fotos{
  max-width: 200px;
  border-radius: 10px;
  border-radius: 180px;
  filter:drop-shadow(40px 8px 18px #000000);
  
}

.centralizar{
  position: relative;
  display: block;
  top: 80px;
  left: 45%;
}

.container1{
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  margin-top: 90px;
}

.agende{
  display: block;
  position: fixed;
  top: 85vh;
  left: 80vw;
  text-decoration: none;
  color: #ffffff;
  gap: 15px;
  transition: 1s;
  background-color: rgba(0, 0, 0, 0.315);
  border-radius: 10px;
  text-shadow: 1px 1px 4px rgb(131, 128, 128);
}

.agende:hover{
  color: #A75CD0;
}

.endereco{
  display: block;
  position: fixed;
  top: 83vh;
  left: 2vw;
  text-decoration: none;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.315);
  gap: 15px;
  transition: 1s;
  width: 650px;
  border-radius: 10px;
  text-shadow: 1px 1px 4px rgb(131, 128, 128);
}

.endereco:hover{
  color: #A75CD0;
}
.footerA{
  text-decoration: none;
  color: #ffffff;
  transition: 1s;

}

.footerA:hover{
  color: aquamarine;

}
.option{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
select{
    border-radius: 15px;
    padding: 5px;
    text-align: center;
  }
 input{
  border-radius: 15px;
  text-align: center;
 } 
form{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
  padding-top: 30vh;

}
.containerServices{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}
.service{
  border-radius: 15px;
  padding: 10px;
  color: #ffffff;
  border: 1px solid black;
  background-color: #A75CD0;
  text-shadow: 1px 1px 4px rgb(5, 5, 5);
}
.check{
  display: none;
}

.service input:checked + span{
  background-color: #272727;
  background-image: url('./img/333733591_873102923801425_5641639317677690573_n-removebg-preview.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  color: #ffffff;
  font-weight: bolder;
  text-shadow: 1px 1px 5px black;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  padding: 10px;
}

.efeitoVidro{
  background: rgba(110, 110, 110, 0.452);
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 1px );
  -webkit-backdrop-filter: blur( 8px );
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.205);
  width: 30vw;
  padding-bottom: 10vh;
  padding-top: 10vh;
}
.agendar{
  border-radius: 15px;
  padding: 10px;
  color: #ffffff;
  border: 1px solid black;
  background-color: #A75CD0;
  text-shadow: 1px 1px 4px rgb(5, 5, 5);
}
.Dis{
  display: none;
}

footer{
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  background-color: rgb(0, 0, 0);
  text-shadow: 1px 1px 4px rgb(131, 128, 128);
  text-align: center;
  font-family: 'Lora', serif;
  height: 93px;
}
.h3Agenda{
  color: #ffffff;
  text-shadow: 1px 1px 4px rgb(131, 128, 128);
}

.centro{
  position: relative;
  display: block;
  top: 15vh;
  left: 35vw;
}

@media (max-width: 600px)
{
  header{
    width: 100vw;
  }

  .efeitoVidro{
    width: 90vw;
  }

  .centro{
    position: relative;
    display: block;
    top: 15vh;
    left: 5vw;
    width: 65vw;
  }
  select{
    border-radius: 15px;
    padding: 5px;
    text-align: center;
    width: 150px;
  }

  .option{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  .containerHome{
    background-image: url("./img/fotoBackgroud.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
    background-color: black;
  }
  .h3Agenda{
    color: #ffffff;
    text-shadow: 1px 1px 4px rgb(131, 128, 128);
    text-align: center;
  }
  p{
    margin: 0;
  }
  .header{
    width: 100vw;
  }
  .foto{
    width: 250px;
  }
  .logoHome{
   display: block;
   position: relative;
   left: 18vw;
   top: 3vh;
  }
  .container1{
    margin: 10px;
  }
  .endereco{
    font-size: 16px;
    width: 280px;
    display: block;
    position: relative;
    text-align: center;
    top: 15px;
    left: 50px;
  }
  .agende{
    text-align: center;
    display: block;
    position: relative;
    font-size: 16px;
    top: 15px;
    left: 0px;
  }
  .container1{
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    padding: 110px;
    padding-bottom: 15px;
    margin-top: 100px;
    height: 150px;
  }

  .headerH1{
    text-align: center;
  }
  .fotos{
    height: 200px;
  }

  footer{
    padding-top: 10px;
    height: 35px;
  }
}